.homePageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #0d1117;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  /* height: 50px; */
  padding:10px;
  font-weight: bold;
  font-stretch:narrower;
  gap: 30px;
  /* background-color: black; */
}

header img{
  width: 120px;
}

@media screen and (max-width: 800px){
  header .bigWindow{
    display: none;
  }

  header img {
    padding-top: 20px;
    width: 180px;
  }
}


header p {
  color: goldenrod;
  border: goldenrod;
  border-bottom:goldenrod ;
}


footer {
  position: fixed;
  bottom: 0;
  /* background-color: rgb(4, 33, 70); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  font-size: 12px;
}

footer a {
  color: #4aee88;

}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 14px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #074e6e;
  width: 100%;
  color: white;
  margin-left: auto;
  font-size: 14px;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content:space-between;
  width: 100%;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}


/* Editor page */
.mainWrap {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: 230px 1fr; */
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.colsWrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.editorWrap{
  height: calc(100vh - 200px);
  width: 100%;
  overflow-y: auto;
}

.topWrapEditor{
  height: calc(100vh - 300px);
}


.colsWrapper .iframe{
  background: white;
  width: 100%;
  /* overflow-y: auto; */
}


.editorWrap .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 5px 0;
  background-color: #1c1e29;
  gap: 20px;
}

.editorContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editorContainer .themes{
  background-color: #282A36;
  width: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: coral;
  gap: 20px;
}

.code-mirror-wrapper{
width: 100%;
}

.client {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.client .onlinePoint{
  position: absolute;
  background-color: #4aed88;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: -3px;
  right: -2px;
}

.userName {
  margin-top: 10px;
  font-size: 13px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}


.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}